<div class="form">
  <ul class="tab-group">
    <li class="tab active"><a href="#signup">Sign Up</a></li>
    <li class="tab"><a href="#login">Log In</a></li>
  </ul>
  <div class="tab-content">
    <div id="signup">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>


        <div class="field-wrap">
          <%= f.label :email, class: "req" %>
          <%= f.email_field :email, required: "" %>
        </div>

        <div class="field-wrap">
          <%= f.label :password, class: "req" %>
          <!-- <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %> -->
          <%= f.password_field :password, required: "", autocomplete:"off" %>
        </div>

        <div class="field-wrap">
          <%= f.label :password_confirmation, class: "req" %>
          <%= f.text_field :password_confirmation, required: "", autocomplete:"off" %>
        </div>
      </div><!-- sign up  -->
      <button type="submit" class="button button-block"/>Sign Up!</button>
      <% end %>
      <p class="pull-center"><%= render "devise/shared/links" %></p>
  </div> <!-- tab content  -->
</div><!-- form  -->
